.content{
  width: 8rem;
  height: 100%;
  padding: 0.11rem 0;
  .top{
    height: 49%;
    box-sizing: border-box;
    border: 0.06rem solid #97c203;
    border-radius: 0.2rem;  
    margin-bottom: 0.11rem;
    padding: 0.4rem 0.43rem;
    .icon-container{
      width: 2.98rem;
      height: 0.55rem;
      background-image: url('img/item-2.png'); 
      background-size: 100% 100%;
      color: #fff;
      font-size: 0.22rem;
      margin: 0.02rem;
      padding-left: 0.69rem;
      padding-top: 0.05rem;
    }
  }
  .bottom{
    height: 50%;
    background-color: #e9f2ca;
    border-radius: 0.2rem;  
  }
}