@prefixCls: system-page-container;
.@{prefixCls}{
  width: 100%;
  font-size: 14px;
  >.content-1{
    width: 100%;
    height: 7.82rem;
    background: url('../../../public/img/system-bg1.png') no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 2.2rem;
      color: #2773fb;
      font-size: 0.3rem;
      margin: 1.3rem 0 0.3rem 4.9rem;
    }
    .intro-container{
      display: flex;
      flex-direction: column;
      margin-left: 5.5rem;
      .intro{
        margin: 0.2rem;
        font-size: 0.18rem;
        font-weight: bold;
      }
    }
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 0.44rem;
      font-size: 0.2rem;
      font-weight: bold;
      border-radius: 0.22rem;
      background: linear-gradient(left, #ffb000, #ff7079);
      color: #fff;
      margin: 0.5rem 0 0 5.8rem;
    }
  }
  >.content-2{
    width: 100%;
    height: 5.64rem;
    position: relative;
    background-color: #ffa82b;
    .teacher-icon{
      width: 5.94rem;
      margin-left: 0.6rem;
      position: absolute;
      bottom: 0;
    }
    .feature{
      display: flex;
      justify-content: space-between;
      width: 40%;
      font-size: 0.16rem;
      margin: 0.7rem 0 0 8.5rem;
      .computer, .hand, .fly{
        display: flex;
        flex-direction: column;
      }
      .computer-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.88rem;
      }
      .computer-icon{
        width: 0.95rem;
      }
      .hand-icon{
        align-self: center;
        width: 0.89rem;
      }
      .fly-icon{
        align-self: center;
        width: 0.88rem;
      }
      .title{
        font-size: 0.24rem;
        font-weight: bold;
        margin: 0.3rem 0 0.15rem;
      } 
    }
    .intro-container{
      width: 5rem;
      margin-left: 9.74rem;
      padding-top: 0.78rem;
    }
    .intro{
      line-height: 0.24rem;
      font-size: 0.24rem;
      color: #fff;
      margin: 3px;
    }
  }
  >.content-3{
    width: 100%;
    height: 7.75rem;
    position: relative;
    .intro-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.18rem;
      font-weight: bold;
      margin-top: 1.25rem;
      .red{
        color: #fb6115;
        font-size: 0.3rem;
      }
    }
    .table-container{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 3.6rem;
      margin-top: 1rem;
      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 2.22rem;
        border-right: 1px solid #fff;
        .info{
          margin-bottom: 0.1rem;
        }
        .cell{
          width: 100%;
          background-color: #5edfd3;
          margin-bottom: 0.1rem;
        }
        .s1{
          height: 0.64rem;
        }
        .s2{
          height: 1.09rem;
        }
        .s3{
          height: 1.67rem;
          background-color: #4d96ff;
        }
        .s4{
          height: 2.32rem;
        }
      }
    }
    .footer-info{
      display: flex;
      justify-content: space-between;
      margin: 0.5rem auto 0;
      width: 3.56rem;
      font-size: 0.18rem;
      font-weight: bold;
    }
    .icon{
      width: 3.94rem;
      position: absolute;
      bottom: 0;
      right: 1.06rem;
    }
  }
}