.login{
  background-color: rgba(0, 0, 0, 0.79);
  position: fixed;
  top: 0;
  left: 0;
  .container{
    width: 8.04rem;
    height: 5rem;
    margin: 1.59rem auto;
    // background-image: url('img/login-bg.png');
    background-size: 100% 100%;
    .logo{
      width: 2.15rem;
      margin: 0.2rem;
    }
    .form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1rem;
      .icon{
        width: 0.15rem;
      }
    }
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 0.4rem;
      border-radius: 0.2rem;
      background: linear-gradient(right, #839748, #826497);
      margin-top: 20px;
    }
  }
  
}
.login-form-button{
  color: red;
}