@prefixCls: home-page-container;

.@{prefixCls}{
  width: 100%;
  font-size: 14px;
  .content-1{
    width: 100%;
    height: 10rem ;
    background-image: url('../../../public/img/content-1.png'); 
    background-size: 100%;
    .feature{
      width: 8.37rem;
      margin: 6.6rem auto;
      font-size: 0.14rem;
      font-weight: bold;
    }
  }
  .content-2, .content-3, .content-4{
    width: 100%;
  }
  .content-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 7.9rem;
    background-image: url('../../../public/img/content-4.png');
    background-size: 100% 100%;
    padding-top: 2rem;
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.3rem;
      height: 0.6rem;
      background-color: #fb6115;
      font-size: 0.3rem;
      color: #fff;
      border-radius: 0.15rem;
    }
  }
}