@prefixCls: home-page-container;

.@{prefixCls}{
  width: 100%;
  font-size: 14px;
  // position: relative;
  .content-1{
    width: 100%;
    height: 9.77rem ;
    background-image: url('../../../public/img/feixiang_01.png'); 
    background-size: 100%;
    overflow: hidden;
    .lesson-form{
      position: absolute;
      top: 3rem;
      left: 12.2rem;
    }
  }
  .content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    .lesson-img{
      width: 11rem;
    }
  }
  .content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9rem;
    .system-img{
      width: 12.6rem;
    }
  }
  .fixed-form{
    position: fixed;
  }
}