<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>飞象章鱼</title>
  <script>
    (function(){
      let innerWidth = window.innerWidth;
      let radio = innerWidth/1920;
      let html = document.getElementsByTagName('html')[0];
      html.style.fontSize = 100*radio+'px';
      console.log(html.style.fontSize);
    })()
  </script>
</head>
<body>

  <div id="root"></div>

</body>
</html>
