@prefixCls: video-page-container;
.@{prefixCls}{
  width: 100%;
  font-size: 14px;
  .content{
    width: 100%;
    height: 11.52rem;
    background: url('../../../public/img/video-bg.png') no-repeat;
    background-size: 100%;
    >.info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 2.2rem;
      color: #2773fb;
      font-size: 0.3rem;
      margin: 1.3rem 0 0.8rem 4.9rem;
    }
    >.video-list-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #292929;
      >.video-item{
        margin-bottom: 0.5rem;
        >.title{
          font-size: 0.24rem;
          font-weight: 500;
          margin-bottom: 0.2rem;
        }
        >.info{
          display: flex;
          .banner{
            display: inline-block;
            width: 4.53rem;
            height: 2.07rem;
            margin-right: 0.28rem;
          }
        }
      }
    }
    >.video-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #292929;
      .title{
        font-size: 0.24rem;
        font-weight: 500;
        margin-bottom: 0.2rem;
      }
      .video{
        display: flex;
        .video-img{
          display: inline-block;
          width: 4.68rem;
          height: 3.07rem;
          margin-right: 0.52rem;
        }
      }
    }
  }
}